{% extends "base.html" %}
{% load static %}
{% block content %}
<h1>Türkiye Süper Lig 2020-2021 Kış Transfer Dönemi</h1>
<p>Futbolda 'ara transfer' olarak ikinci transfer ve tescil döneminin başlangıç ve bitiş tarihi belli oldu.</p>
    <p>Takımların eksik bölgelerine takviye imkanı sunan ara transfer dönemi için geri sayım başladı. 2020-2021 sezonunun ilk yarısında önemli bir bölüm geride kalırken, ara transfer döneminin ne zaman başlayacağı merak konusu oldu.
    Türkiye Futbol Federasyonunun internet sitesinden yapılan açıklamada, "Türkiye Futbol Federasyonu Yönetim Kurulu, bugün yaptığı toplantıda 2020-2021 sezonu ikinci transfer ve tescil dönemi başlangıç ve bitiş tarihlerini belirledi.
    Buna göre ikinci transfer ve tescil Dönemi 5 Ocak 2021 tarihinde başlayıp 1 Şubat 2021 tarihinde sona erecek." denildi.</p>
    <br>
    <h2>Transfer Dedikoduları</h2>
    <p>Ülkemizde haberleri yapılan transfer söylentilerinden olan futbolcuları ve ilgili kulüpleri aşağıda görebilirsiniz.</p>
    <br>
    <table border=2 bordercolor="Black">
  <tr>
      <th></th>
      <th>Futbolcu</th>
      <th>Doğum Tarihi</th>
      <th>Nereden</th>
      <th>Nereye</th>
      <th>Durum</th>
  </tr>
  <tr>
    <td><img src="{% static 'irfan.png' %}" 'width':"80" height="60"/></td>
    <td>İrfanCan Kahveci</td>
    <td>15 Tem 1995</td>
    <td>Başakşehir</td>
    <td>Galatasaray</td>
      <td>Söylenti</td>
  </tr>
  <tr>
    <td><img src="{% static 'hulk.png' %}" 'width':"80" height="60"/></td>
    <td>Hulk</td>
    <td>25 Tem 1986</td>
    <td>Kulüpsüz</td>
    <td>Beşiktaş</td>
      <td>Söylenti</td>
  </tr>
   <tr>
    <td><img src="{% static 'burak.png' %}" 'width':"80" height="60"/></td>
    <td>Burak Kapacak</td>
    <td>8 Ara 1999</td>
    <td>Bursaspor</td>
    <td>Fenerbahçe</td>
       <td>Söylenti</td>
  </tr>
    <tr>
        <td><img src="{% static 'enzoperez.png' %}", 'width':"80" height="60"/></td>
        <td>Enzo Perez</td>
        <td>22 Şub 1986</td>
        <td>River Plate</td>
        <td>Trabzonspor</td>
        <td>Söylenti</td>
    </tr>
     <tr>
        <td><img src="{% static 'boupendza.png' %}" 'width':"80" height="60"/></td>
        <td>Aaron Boupendza</td>
        <td>7 Ağu 1996</td>
        <td>Hatayspor</td>
        <td>Fenerbahçe</td>
        <td>Söylenti</td>
    </tr>
     <tr>
        <td><img src="{% static 'sörloth.png' %}" 'width':"80" height="60"/></td>
        <td>Alexander Sörloth</td>
        <td>5 Ara 1995</td>
        <td>RB Leipzig</td>
        <td>Galatasaray</td>
        <td>Söylenti</td>
    </tr>
     <tr>
        <td><img src="{% static 'dorukhan.jpg' %}" 'width':"80" height="60"/></td>
        <td>Dorukhan Toköz</td>
        <td>21 May 1996</td>
        <td>Beşiktaş</td>
        <td>Fenerbahçe</td>
        <td>Söylenti</td>
    </tr>
</table>

{% endblock content %}