{% extends "base.html" %}
{% load static %}
{% block content %}
<h1>Hakkımızda</h1>
<p>Bu site Türkiye Süper Lig 2020-2021 kış transfer sezonunun transfer işlemlerinin kaydını tutulduğu, listelendiği bir internet sitesidir.
Bu sitede Türkiye'de gerçekleşmiş transferler yer alıyor. Türk spor severlerin en çok heyecanlandığı, haberleri sıkça takip ettiği, tüm mecralarda transfer beklentilerine olan
ilgisini gösterdiği bu zamanlarda bu site tüm gerçekleşen transferlerin içeriğine hakimdir. Bu sitenin amacı doğru bilgi paylaşımıdır.
</p>

    <p>Bu site python Django kütüphanesini kullanarak tasarlanmıştır. Tüm içerikler django programında yazılmıştır.</p>
    <br>
    <br>
    <br>
    <img src="{% static 'ob-logo.jpg' %}" />
    <p>Admin By Bulut</p>

{% endblock content %}
